@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Luckiest+Guy:wght@400;600;700&display=swap');

.App {
  font-family: 'Poppins', sans-serif;
}

.title {
  font-family: 'Luckiest Guy', cursive;
  margin-left: 0.5rem;
  font-size: 1.5rem;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-family: 'Poppins', sans-serif;
  font-size: 0.8rem;
  list-style: none;
  margin: 0.3rem;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  font-size: 0.8rem;
  list-style: none;
  margin: 0.3rem;
}

.header,
.footer a {
  text-decoration: none;
}

.progress-container {
  height: 30px;
}

html {
  overflow:   scroll;
}
::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

/* hide scrollbar but allow scrolling */
element {
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll; 
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
